*{transition: all 0.5s ease;}
.logo{max-width: 150px;}
.recipiente{
    width: 90%;
    max-width: 1920px;
    padding: 20px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
}
input, input.search:focus-visible,input.search{
    border: 0; 
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
}

.buscar{
    border: 1px solid #eaeaea;
    padding: 5px;
    border-radius: 7px;
    font-size: 12px;
    width: 50%;
    max-width: 400px;
}
.galeria{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
}
.galeria li{
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 13px #d3d3d34a;
    border: 0.2px solid #d3d3d34a;
    width: 24.5%;
    margin: 5px 0;
    border: 2px solid transparent;
}
.galeria li:hover{
    cursor: pointer;
    border: 2px solid #0072ce40;
}
.galeria li img{width: 100%;}
.descripcion{
    font-size: 14px; 
    width: 80%;
    margin-bottom: 5px;
}
.colores{width: 80%;}
.colores a{
    color: #0072ce;
    font-size: 12px;
    width: 80%;
}
.colores a:hover{color: #003057;}
h3{
    padding: 10px 0;
    font-size: 16px;
}
h3 span{font-size: 12px;
     color: #b3b3b3;
     font-style: italic;
     font-weight: lighter;
}
.precio{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
button{
    font-size: 12px;
    padding: 10px;
    width: 100%;
    max-width: 70px;
    border: 0;
    color: white;
    background-color: #0072ce;
    border-radius: 3px;
    margin-bottom: 10px;
    text-align: center;    
}
button:hover{background-color: #015ba5;}
@media only screen and (max-width: 1200px) {
    .galeria li {
        width: 32.8%;
    }
}
@media only screen and (max-width: 800px) {
    .galeria li {
        width: 49.5%;
    }
}
@media only screen and (max-width: 552px) {
    .galeria li {
        width: 100%;
    }
    .precio{flex-direction: column; justify-content: center; align-items: center;}
}